.MainHeader {
	background: #0667d0;
	width: 100%;
	border-bottom: 3px solid white;
	height: 60px;

	font-family: proxima-nova,helvetica neue,Helvetica,Arial,sans-serif;

	.title {
		line-height: 60px;
		font-size: 20px;
		margin-left: 25px;
		color: white;
	}

	button {
		position: relative;
		top: 50%;
		transform: translate(0,-50%);
		float: right;
		margin-right: 10px;
	}
}
