.Home {
	.colContainer {
		padding-top: 50px;
		width: 1000px;
		margin: 0px auto;

		.col {
			float: left;
			width: 460px;

			.box {
				background: white;
				border-radius: 5px;
				min-height: 150px;

				.loadingText {
					text-align: center;
					padding-top: 50px;
					padding-bottom: 60px;
				}
			}
		}

		.leftCol {
			

		}

		.rightCol {
			margin-left: 40px;
		}

		h3 {
			text-align: center;
			padding-top: 10px;
			padding-bottom: 5px;
			border-bottom: 1px solid #f7efed;
		}

		.loss {
			color: red;
		}

		.gain {
			color: green;
		}
	}

	.summaryBox {
		height: 200px;

		ul {
			list-style: none;
			float: left;
			font-size: 14px;
			line-height: 35px;
		}

		.keys{
			text-align: right;
			width:210px;
		}

		.values{
			text-align: left;
			width:250px;
			font-size: 20px;
		}
	}

	.coinSummaryBox {
		margin-top: 40px;

		.coins {
			padding-bottom:10px;
		}

		.lineItem {
			margin-left: 45px;
		}

		.header span {
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 5px;
		}

		.values {
			span {
				display: inline-block;
				height: 25px;
			}

			hr {
				width: 285px;
				margin-top: 0px;
				margin-bottom: 5px;
				margin-left: 25px;
			}
		}

		.symbol {
			text-align: right;
			padding-right: 20px;
			width: 80px;
		}

		.amount {
			width: 160px;
		}

		.percentGain {
			widh: 160px;
		}
	}

	.taxBox {
		margin-top: 40px;
		margin-bottom: 50px;

		form {
			margin-left: 20px;
			margin-right: 20px;

			label {
				padding: 10px;
			}

			input {
				width: 100px;
			}

			.actions {
				text-align: center;
				margin-top: 5px;
				margin-bottom: 5px;

				button {
					width: 200px;
				}
			}
		}

		.taxStateText {
			text-align: center;
			font-size: 16px;
			margin-top: 20px;
			padding-bottom: 20px;
		}

		.resultSection {
			margin-left: 20px;
			margin-right: 20px;
			padding-bottom: 20px;

			h4 {
				text-align: center;
				margin-bottom: 0px;
			}

			.description {
				text-align: center;
				margin-bottom: 10px;
				font-style: italic;
			}

			span {
				display: inline-block;
				width: 50%;
				line-height: 25px;

				&.item {
					text-align: right;
					padding-right: 20px;
				}

				&.value {
					font-size: 18px;
				}
			}
		}

	}

	.transactionsBox {
		padding-bottom: 10px;
	}
}