.Home {
	overflow: auto;

	.colContainer {
		padding-top: 25px;
		width: 1000px;
		margin: 0px auto;

		.col {
			float: left;
			width: 460px;

			.box {
				overflow: auto;
				background: white;
				border-radius: 5px;
				min-height: 100px;
				padding-top: 20px;
				padding-bottom: 20px;
    			box-shadow: 0px 1px 50px -4px rgba(0,0,0,.28);

    			&.transactionsBox {
					padding-bottom: 10px;
				}

				.loadingText {
					text-align: center;
					padding-top: 50px;
					padding-bottom: 60px;
				}
			}
		}

		.rightCol {
			margin-left: 40px;
		}

		h3 {
			text-align: center;
			padding-top: 10px;
			padding-bottom: 5px;
			color: white;
		}

		.loss {
			color: red;
		}

		.gain {
			color: green;
		}
	}
}